// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.my-container{
    width: 100%;
    height: 500px;
}

.special{
    color: blue;
    font-size: 1.20rem;
}

.btn-special{
    background-color: yellow;
    border: 2px solid yellow;
}

.my-header{
    background-color: $blue;
}